html {
  background-color: black;
  /* transform: scale(.5); */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  table-layout: fixed;
  font-family: monospace;
}

td{
  word-wrap:break-word;
  vertical-align: middle;
}

thead {
  text-align: center;
  font-family: Arial;
}

.disponibile-button-container{
  display: flex;
}

.disponibile-button{
  text-align: center;
  display: block;
  margin: auto;
  flex: auto;
}

.footer {
  min-height: 33px;
  flex-shrink: 0;
  text-align: center;
  background-color: #31363a;
  color: black;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.header {
  min-height: 60px;
  overflow: hidden;
  background-color: #31363a;
  text-align: center;
  vertical-align: middle;
}

.img {
  position: relative;
  margin: auto;
  top: 5px;
  bottom: 5px;
}